body{
    background-color: ivory;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
article{
    width : 300px;
    height : 350px;
    font-family: system-ui, serif;
    font-size: 2rem;
    padding: 3rem;
    padding-top : 0px;
    border-radius: 1rem;
    text-align: center;
    vertical-align: text-bottom;
    background: floralwhite;
    border : 1px solid gray;
}
a{
    font-size : 15px;
}
form{
    background-color: whitesmoke;
    border-radius : 15px;
    padding : 20px;
}