header{
background-color: #D4C2AA;
height: 65px; 
width: 100%;
}
body{
background-color: ivory;
}
.id_find{
	width: 500px;
	height: 230px;
	border:1px solid;
	text-align:center;
	margin:0 auto;
	left:50%;
	margin-left:-255px;
	position:absolute;
	margin-top:160px;

}
#id_article{
	margin:0 auto;
	left:50%;
	margin-left:-255px;
	position:absolute;
	background-color: #D4C2AA;
	width: 125px;
	height: 50px;
	cursor:pointer;
}
#pwd_article{
	margin:0 auto;
	left:50%;
	margin-left:-135px;
	position:absolute;
	background-color: #D4C2AA;
	width: 125px;
	height: 50px;
	cursor:pointer;
	color:red;	
}
header{
	background-color: #D4C2AA;
	height: 65px; 
	width: 100%;
}
.name{
   margin-top:20px;
   width:300px;
   height:30px; 
   border-radius:5px;
}

#infor_text{
	width: 500px;
	height: 100px;
	margin:0 auto;
	left:50%;
	margin-left:-255px;
	position:absolute;
	margin-top:65px;

}
.go_main{
	width: 500px;
	height: 180px;
	text-align:center;
	margin:0 auto;
	left:50%;
	margin-left:-255px;
	position:absolute;
	margin-top:400px;
}
