body{
    background-color: ivory;
}
h2{
    font-size: 60px;
    color: rgb(124, 77, 16);
}
span{
    margin : 5px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
article{
    text-align: center;
}
.table{
    margin-left : 100px;
    border : 4px solid gainsboro;
    font-size: 20px;
}
.left{
    width : 200px;
    height : 30px;
    padding : 5px;
    padding-left: 20px;
    padding-bottom: 5px;
    text-align : left;
}
.right{
    width : 350px;
    padding : 5px;
    text-align : left;
    padding-left: 20px;
    padding-bottom: 8px;
}
#HELLO{
    width : 100%;
    text-align: center;
    font-size: 25px;
}
#info{
    text-align: left;
    font-size: 20px;
    margin-left: 100px;
    font-weight: bold;
} 
input{
    width: 230px;
    height : 40px;
    font-size : 15px;
    border-color : gainsboro;
}