body{
	text-align : center;
	hegiht: 100%;
	background-color: ivory;
}
header{
	color: rgb(124, 77, 16);
    text-align: center;
    font-size: x-large;
    height: 110px;
    padding-top: 50px;
    padding-bottom: 60px;	
}
label{
	text-align : left;	
}
section{
	text-align : left;
	font-size : large;
	width : 400px;
	margin: 0 auto;
	paddiing-left : 20px;
}
.center{
	height: 40px;
    width: 400px;
    font-size: medium;
    margin: 0 auto;
    font-weight: bolder;	
}
.center1 {
	height: 40px;
    width: 400px;
    font-size: medium;
    margin: 0 auto;
    font-weight: bolder;
}
.center2{
	height: 10px;
    width: 400px;
    font-size: small;
    color: red;
}
#input{
	width:410px;
	height:50px;
	
	background-color:rgb(124, 77,16);
	font-size:larger;
	color:white;	
}
form{
	text-aling : center;
	margin : auto;
}